{% extends "base.html" %}
{% load static %}

{% block title %}
 Add class
{% endblock title %}

{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Add Class</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="classes">Classes</a></li>
                <li class="breadcrumb-item active">Add Class</li>
            </ul>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 200px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% endif %}

                {% if messages %}
                <ul class="alert alert-info" style="color:rgb(0, 0, 0);text-align: center;font-size: 20px;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <form action="add_class" method="post">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Class Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Grade No <span class="login-danger">*</span></label>
                                <input type="number" name="grade" class="form-control" required min="1">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Stream <span class="login-danger">*</span></label>
                                <select class="form-control select" name="stream" required>
                                    <option>Select Stream</option>
                                    <option>East</option>
                                    <option>West</option>
                                    <option>North</option>
                                    <option>South</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Add Class</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}