{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h3 class="page-title">Student Details</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'students' %}">Student</a>
          </li>
          <li class="breadcrumb-item active">Student Details</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="about-info">
          <h4>
            Profile
            <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span>
          </h4>
        </div>
        <div class="student-profile-head">
          <div class="profile-bg-img">
            <img src="{% static 'assets/img/profile-bg.jpg' %}" alt="Profile" />
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="profile-user-box">
                <div class="profile-user-img">

                 

                  <img src="{{ student.image.url }}" alt="Profile" />

                </div>
                <div class="names-profiles">
                  <h4>{{ student.first_name }} {{ student.last_name }}</h4>
                  <h5>{{ student.student_class }}</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex align-items-center">
              <div class="follow-group">
                <div class="students-follows" >
                  <h5>Followers</h5>
                  <h4>2850</h4>
                </div>
                <div class="students-follows">
                  <h5>Followers</h5>
                  <h4>2850</h4>
                </div>
                <div class="students-follows">
                  <h5>Followers</h5>
                  <h4>2850</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex align-items-center">
              <div class="follow-btn-group">
                <button type="submit" class="btn btn-info follow-btns">
                  Follow
                </button>
                <button type="submit" class="btn btn-info message-btns">
                  Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="student-personals-grp">
          <div class="card">
            <div class="card-body">
              <div class="heading-detail">
                <h4>Personal Details :</h4>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="feather-user"></i>
                </div>
                <div class="views-personal">
                  <h4>Name</h4>
                  <h5>{{ student.first_name }} {{ student.last_name }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <img src="{% static 'assets/img/icons/buliding-icon.svg' %}" alt="" />
                </div>
                <div class="views-personal">
                  <h4>Class</h4>
                  <h5>{{ student.student_class }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="fas fa-id-card"></i>
                </div>
                <div class="views-personal">
                  <h4>Admission no</h4>
                  <h5>{{ student.admission_no }}</h5>
                </div>
              </div>
             
              
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="feather-user"></i>
                </div>
                <div class="views-personal">
                  <h4>Gender</h4>
                  <h5>{{ student.student_gender }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="feather-calendar"></i>
                </div>
                <div class="views-personal">
                  <h4>Joining Date</h4>
                  <h5>{{ student.joining_date }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="fas fa-praying-hands"></i>
                </div>
                <div class="views-personal">
                  <h4>Religion</h4>
                  <h5>{{ student.religion }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="fas fa-user"></i>
                </div>
                <div class="views-personal">
                  <h4>Age</h4>
                  <h5>{{ student.age }}</h5>
                </div>
              </div>
              <div class="personal-activity">
                <div class="personal-icons">
                  <i class="fas fa-calendar"></i>
                </div>
                <div class="views-personal">
                  <h4>Session</h4>
                  <h5>{{ student.session }}</h5>
                </div>
              </div>
              
            </div>
          </div>
        </div> 
      </div>
       <div class="col-lg-7">
        <div class="student-personals-grp">
          <div class="card mb-0">
            <div class="card-body">
              <div>
                <h4>Parent Details:</h4>
              </div>
              <div class="personal-activity mb-3">
                <div class="personal-icons">
                    <i class="feather-user"></i> <!-- Icon for parent -->
                </div>
                <div class="views-personal">
                    <h4>Parent Name</h4>
                    <h5>{{ student.parent_name }}</h5>
                </div>
            </div>
            
            <div class="personal-activity mb-3">
                <div class="personal-icons">
                    <i class="feather-mail"></i> 
                </div>
                <div class="views-personal">
                    <h4>Email</h4>
                    <h5>{{ student.parent_email }}</h5>
                </div>
            </div>
            
            <div class="personal-activity mb-3">
                <div class="personal-icons">
                    <i class="feather-phone"></i> 
                </div>
                <div class="views-personal">
                    <h4>Phone</h4>
                    <h5>{{ student.parent_phone }}</h5>
                </div>
            </div>
            <div class="personal-activity ">
              <div class="personal-icons">
                <i class="feather-map-pin"></i>
              </div>
              <div class="views-personal">
                <h4>Address</h4>
                <h5>{{ student.parent_address }}</h5>
              </div>
            </div>
            <div class="personal-activity mb-0">
              <div class="personal-icons">
                <i class="fas fa-users"></i>
              </div>
              <div class="views-personal">
                <h4>Relationship</h4>
                <h5>{{ student.parent_relationship }}</h5>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}