{% extends 'base.html' %}
{% load static %}


{% block title %}
 Students gridview 
{% endblock title %}
{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Students</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'students' %}">Student</a></li>
                    <li class="breadcrumb-item active">All Students</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table comman-shadow">
            <div class="card-body pb-0">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Students</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="{% url 'students' %}" class="btn btn-outline-gray me-2"><i class="feather-list"></i></a>
                            <a href="{% url 'students_grid' %}" class="btn btn-outline-gray me-2 active"><i
                                    class="feather-grid "></i></a>
                        </div>
                    </div>
                </div>


                <!-- <div class="student-pro-list"> -->
                <div class="row">
                    {% for student in students %}
                    <div class="col-xl-3 col-lg-4 col-md-6 d-flex teacher-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="student-box flex-fill">
                                    <div class="student-img">
                                        <a href="{% url 'student_details' student.student_id %}">

                                            {% if student.image %}
                                            <img class="avatar-img rounded-circle" style="max-height: 90px;max-width: 90px;" src="{{ student.image.url }}"
                                                alt="User Image">
                                            {% else %}
                                            <!-- Display a default image or placeholder if no image is available  -->
                                            <!-- <img class="avatar-img rounded-circle" src="{% static 'media/student_photos/default.jpg' %}" alt="Default Image">  -->
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="student-content pb-0">
                                        <h5><a href="{% url 'student_details' student.student_id %}"
                                                class="teacher-name"></a></h5>
                                        <h6>{{ student.first_name }}
                                            {{ student.last_name }}</h6>
                                            <h6>{{ student.student_class }}</h6>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                {% endblock  %}