{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Teachers</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Teachers</li>
            </ul>
        </div>
    </div>
</div>

<div class="student-group-form">
    <div class="row">
        <!-- Search form -->
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input id="search-id" type="text" class="form-control" placeholder="Search by ID ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input id="search-name" type="text" class="form-control" placeholder="Search by Name ...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input id="search-phone" type="text" class="form-control" placeholder="Search by Phone ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button id="search-button" type="button"  class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<!-- Teacher grid -->
<div class="row">
    {% for teacher in teachers %}
    <div class="col-xl-3 col-lg-4 col-md-6 d-flex teacher-card">
        <div class="card">
            <div class="card-body">
                <div class="student-box flex-fill">
                    <div class="student-img">
                        <a href="{% url 'teacher_details' teacher.teacher_id %}">
                            <img style="max-height: 150px; max-width: 150px; min-width: 150px;" class="img"
                                alt="Students Info" src="{{ teacher.image.url }}">
                        </a>
                    </div>
                    <div class="student-content pb-0">
                        <h5><a href="{% url 'teacher_details' teacher.teacher_id %}"
                                class="teacher-name">{{ teacher.teacher_name }}</a></h5>
                        <h6>Teacher</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock  %}